{#<script src="#"></script>#}
{#<script>#}
{#    $("#allBox").click(#}
{#        function () {#}
{#            if(this.checked){#}
{#                $(".goods_check").prop("checked",true)#}
{#            }else{#}
{#                $(".goods_check").prop("checked",false)#}
{#            }#}
{#        }#}
{#    );#}
{#    $(".goods_check").each(#}
{#        function () {#}
{#            $(this).click(#}
{#                    function() {#}
{#                        if(!this.checked){#}
{#                            $("#allBox").prop("checked",false)#}
{#                    }#}
{#                }#}
{#            )#}
{#        }#}
{#    )#}
{#</script>#}
{##}
{#<script src="#"></script>#}
{#<script>#}
{#    $(#allBox).click(#}
{#        function () {#}
{#            if(this.checked){#}
{#                $(".goods_check").prop("checked",true)#}
{#            }else{#}
{#                $(".goods_check").prop("checked",false)#}
{#            }#}
{#        }#}
{#    );#}
{#    $(".goods_check").each(#}
{#        function () {#}
{#            $(this).click(#}
{#                function () {#}
{#                    if(!this.checked){#}
{#                        $("#allBox").prop("checked",false)#}
{#                    }#}
{#                }#}
{#            )#}
{#        }#}
{#    )#}
{#</script>#}
{##}
{#<script src="#"></script>#}
{#<script>#}
{#    $("#allBox").click(#}
{#        function () {#}
{#            if(this.checked){#}
{#                $("goods_check").prop("checked",true)#}
{#            }else {#}
{#                $("goods_check").prop("checked",false)#}
{#            }#}
{#        }#}
{#    );#}
{#    $(".goods_check").each(#}
{#        function () {#}
{#            $(this).click(#}
{#                function () {#}
{#                    if(!this.checked){#}
{#                        $("#allBox").prop("checked",false)#}
{#                    }#}
{#                }#}
{#            )#}
{#        }#}
{#    )#}
{#</script>#}